certifi==2024.8.30
charset-normalizer==3.4.0
contourpy==1.3.0
cycler==0.12.1
fonttools==4.54.1
idna==3.10
joblib==1.4.2
kiwisolver==1.4.7
lxml==5.3.0
matplotlib==3.9.2
nibabel==5.3.0
nilearn==0.10.4
niwrap==0.1.3
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
styxcompiler @ git+https://github.com/childmindresearch/styx.git@6dd1e10ed57388f3799bd5a181eb83380ff40b55
styxdefs==0.2.0
styxsingularity==0.1.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
